@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700);

/* Menu Bar */

#logo {
    height: 120px;
    background: white;
    margin-top: -15px;
    padding: 10px;
}

#myNavbar {
   background: #72B3AD; 
}

.navbar {
    border-bottom: 2px solid #72B3AD;
    background-color: rgba(295, 295, 295, 0.8);
    height: 123px;
}

.container-fluid {
    padding: 0;
}

.navbar-nav>li>a {
    color: white;
}

.navbar-nav>li>a:hover {
     background-color: rgba(295, 295, 295, 0.2);
}

/* End of Menu Bar */

h1 {
    font-family: 'Comfortaa';
}

body {
    background: #E7E7E7;
    margin-top: 130px;
}

.container {
    background: rgba(295, 295, 295, 0.8);
}

.pet-img {
    width: 300px;
    margin: 10px;
}

.pet-container {
    box-shadow: 0px 4px 8px #888888;
}

.pet-container-1 {
    background: mintcream;
}

.pet-container-2 {
    background: #E7E7E7;
}

.tile {
    box-shadow: 0px 4px 8px #888888;
}

.pet-wrapper {
    display: inline-block;
    margin: 20px;
    box-shadow: 0px 4px 8px #888888;
}

